{
  "env": {
    "shared-node-browser": true,
    "jest": true,
  },
  "extends": "airbnb-base",
  "rules": {
    "no-param-reassign": "off",
    "no-restricted-syntax": ["error", "ForInStatement", "LabeledStatement", "WithStatement"]
  }
}
